# 18-DataBase Connectivity

## Create a Database

In [1]:
# usando como exemplo o SQLite

import sqlite3

In [ ]:
conn = sqlite3.connect('univ.db') # criando a database

## Create Tables

In [ ]:
cur = conn.cursor() # criar um cursor

In [ ]:
cur.execute('create table Dept(deptno integer primary key, name text)') # executar a query sql

In [ ]:
cur.execute('create table Sudents(roll integer primary key, city text, deptno integer, foreign key(deptno) references Dept(deptno))')

In [ ]:
conn.commit()

In [ ]:
cur.close()

In [ ]:
conn.close()

## Insert into Tables

In [ ]:
cur.execute('insert into Dept') # igual a query em sql

## Querying Data

In [ ]:
rows = cur.execute('select * from Dept')

In [ ]:
print(rows.fetchone()) # retorna uma linha

In [ ]:
print(rows.fetchmany(3))

In [ ]:
print(rows.fetchall())

In [ ]:
allrows = rows.fetchall()

for t in allrows:
    print(t[0])

In [ ]:
# basicamente todas as queries utilizadas em sql podem ser utilizadas atrav√©s do execute
# Exemplo:

sao_paulo = cur.execute('select * from City where City = Sao Paulo')

## Update and Delete